@model Consultorio_Medico.BL.DTOs.RolDTO.GetRolByIdDTO

@{
    ViewData["Title"] = "Details";
}

<h3><center>Detalles Rol</center></h3>
<hr />
<div class="container" style="padding: 50px 10px 10px 10px">
    <div class="">
        <div class="row d-flex justify-content-center align-items-center">

            <div class="col-md-4">
                <form asp-action="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" disabled/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        @if(Model.Status == 1)
                        {
                            <input value="ACTIVO" class="form-control" disabled/>
                        }
                        else if(Model.Status == 2)
                        {
                            <input value="INACTIVO" class="form-control disabled"/>
                        }
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @Html.ActionLink("Edit", "Edit", new {  id = Model.RolId }, new { @class="btn btn-warning"}) ||
                        <a asp-action="Index" class="btn btn-danger">Regresar a lista</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
