@model Consultorio_Medico.BL.DTOs.ScheduleDTO.AddScheduleDTO

@{
    ViewData["Title"] = "Create";
}

<h4><center>Crear Horario</center></h4>
<hr />
<div class="container" style="padding: 50px 10px 10px 10px">
    <div class="">
        <div class="row d-flex justify-content-center align-items-center">

                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="DayName" class="control-label"></label>
                            <input asp-for="DayName" class="form-control" />

                            <span asp-validation-for="DayName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StarShift" class="control-label"></label>
                            <input asp-for="StarShift" class="form-control" />

                            <span asp-validation-for="StarShift" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndOfShift" class="control-label"></label>
                            <input asp-for="EndOfShift" class="form-control" />
                            <span asp-validation-for="EndOfShift" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" /> ||
                        <a asp-action="Index" class="btn btn-danger">Back to List</a>
                        </div>
                        
                    </form>
                </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
